* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#main-container {
  border: 10px solid rebeccapurple;
  width: 100vw;
  /* height: 100vh; */
  padding: 0 15%;
}

.navigation {
  border: 1px solid red;
  margin: 0 auto;
  width: 1170px;
}

.navigation__list {
  display: flex;
  width: 1170px;
  height: 55px;
  padding: 16px 178px 17px 179px;
  justify-content: center;
  align-items: flex-start;
  gap: 68px;
  flex-shrink: 0;
}

.navigation__list-element {
  color: #4e4e4e;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 200% */
  letter-spacing: 1.1px;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation__list-element:hover {
  color: #57a4a4;
}

.image__content {
  border: 1px solid green;
  height: 550px;
  overflow: hidden;
}

.image__content img {
  max-width: 100%;
  height: auto;
  display: block; /* Убедитесь, что картинка корректно отображается как блочный элемент */
  margin: 0 auto; /* Чтобы изображение оставалось по центру блока */
}
